body{
	background-color: lightblue;
}

.jumbotron{
	    background-color: #1e73be;
	color: black;
}

footer{
    background-color: #1e73be;
	padding: 10px 10px 0 10px;
	margin-bottom: 0px;
	margin-top: 10px;
	color:white;
}

.card-portatil{
	width: 18rem;
	margin: 10px 10px 10px 10px;
}

.card-impresora{
	width: 18rem;
	margin: 10px 10px 10px 10px;
}

#carouselPortatil{
	height: 20rem;
	display: flex;
}

.card-producto{
	background-color: white;
	flex: 1 250px;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	border: 1 solid lightgray;
	border-radius: 5px;
}

.btn{
	    background-color: #1e73be;
}

.btn-bolsa{
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1e73be;
	width: 80%;
	color: white;
	border-radius: 5px;
	border: 0 #1e73be;
	font-size: 80%;
}

.div-bt-bolsa{
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

.footer-addres-icon{
	padding-right: 10px;
}

.form-row{
	display: flex;
}

.form-group{
	display: flex;
	flex-direction: column;
	padding: 10px 10px 0 10px;
}




footer a{
	color :white;
}

.form-contacto{
	background-color: lightslategray;
	padding: 10px 10px;
	border-radius: 5px;
}